* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  max-width: 1200px;
  margin: 0 auto;
}

.main {
  margin: 20px;
  width: 100%;
  margin: 0 auto;
  &__students {
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    &__student-card {
      display: flex;
      flex-direction: column;
      padding: 20px;
      margin: 20px;
      border-radius: 8px;
      box-shadow: 3px 3px 20px rgba(100,100,100,0.5);
      width: 45%;
      min-height: 400px;
      text-decoration: none;
      color: slategrey;
      transition: 0.2s;
      &:hover{
        transform: scale(1.05);
        filter: brightness(0.96);
        background-color: white;
      }
      &:active {
        transform: scale(0.98);
      }
      &__primary-info {
        display: flex;
        flex-wrap: nowrap;
        height: 125px;
        .student-card__primary-info__image {
          height: 100%;
          & img {
            height: 100%;
            border-radius: 8px;
            box-shadow: 1px 1px 8px rgba(00,00,00,0.5);
            margin-right: 20px;
          }
        }
        .student-card__primary-info__text {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
        }
        & h3 {
          font-size: 24px;
        }
        & p {
          font-size: 24px;
        }
      }
      &__secondary-info {
        display: flex;
        flex-grow:1;
        font-size: 20px;
        & p {
          padding-top: 20px;
          align-self: center;
          word-wrap: break-word;
          overflow: hidden;
        }
      }
    }
  }
}
